/************************************************************************************

  SIMPLE CSS

  An almost class-less stylesheet for quick results with minimal effort
  Most HTML elements will be styled effectively out of the box, including
  main heading, navigation, sections/articles/divs, lists, tables, forms, etc.

  Steve Copley, Waimea College

*************************************************************************************

  Some extras:
   - Light / dark mode applied based on system mode and/or class="light/dark"
   - A large 'hero' style panel is supported via class="hero"
   - Responsive section/article/div columns are supported via class="columns"
   - Full-width section/article/div are supported via class="full-width"
   - Blocks can be styled as 'cards' via class="card"
   - Links can be styled as buttons via class="button"
   - Buttons/text/cards can be highlighted via class="success/warning/error/accent"
   - Required form fields are marked automatically if empty
   - Responsive navigation menu, either within header, or outside is supported
   - Responsive mobile-style navigation menu is suppoorted via a checkbox toggle:

        <header>
            <h1>Main Heading</h1>

            <nav>
                <label for="toggle">Open</label>
                <input id="toggle" type="checkbox">

                <ul>
                    <label for="toggle">Close</label>

                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    ...
                </ul>
            </nav>
        </header>

*************************************************************************************

  Version history

  1.0    2023-03-03 - Initial release
  1.1    2023-03-03 - Tweaks to nav link hover
                    - Ability to specify number of columns in std. content width
  1.2    2023-03-06 - Added styling for embedded videos and YouTube iframes
                    - Added block alignment classes: .left .right .middle
                    - Defaulted alignment of images and video to centred
  1.3    2023-03-07 - Cleaned up colour naming
                    - Tweaked button highlighting
                    - Added colours for user prefers dark mode / class="light/dark"
  1.4    2023-03-15 - Made it easier to modify card / form / table / header / footer
                      colours, with sensible defaults
                    - Tweaked slightly the light / dark backgrounds
                    - Added scrollbar colouring
                    - Added easy hero image

*************************************************************************************/




/* Colours and Spacing
 * Overide these values in your stylesheet (loaded after this)
 *************************************************************/

 :root {

    color-scheme: light dark;

    /*** LIGHT MODE **************************/

    --light-text-colour:             #111;
    --light-text-inv-colour:         #fff;

    --light-accent-colour:           #c09;
    --light-accent-hint-colour:      #c091;
    --light-link-colour:             #07d;

    --light-back-colour:             #f7f7f7;
    --light-back-alt-colour:         #f0f0f0;

    --light-header-back-colour:      #fff;
    --light-footer-back-colour:      var(--light-accent-colour);

    --light-card-back-colour:        #fff;
    --light-panel-back-colour:       #222;

    --light-button-highlight-colour: #fff3;
    --light-button-disabled-colour:  #0002;
    --light-text-disabled-colour:    #0008;

    --light-form-back-colour:        var(--light-card-back-colour);
    --light-input-back-colour:       var(--light-accent-hint-colour);

    --light-table-back-colour:       var(--light-card-back-colour);
    --light-table-alt-back-colour:   var(--light-accent-hint-colour);

    --light-success-colour:          #3c4;
    --light-warning-colour:          #f82;
    --light-error-colour:            #f43;

    --light-border-colour:           #999;
    --light-shadow-colour:           #0002;

    --light-code-back-colour:        #111;
    --light-code-text-colour:        #7ad;

    --light-scrollbar-colour:        #999;
    --light-scrollbar-back-colour:   #ddd;

    /*** DARK MODE **************************/

    --dark-text-colour:              #ddd;
    --dark-text-inv-colour:          #111;

    --dark-accent-colour:            #d0a;
    --dark-accent-hint-colour:       #d0a2;
    --dark-link-colour:              #06b;

    --dark-back-colour:              #111;
    --dark-back-alt-colour:          #171717;

    --dark-header-back-colour:       #000;
    --dark-footer-back-colour:       var(--dark-accent-colour);
    --dark-card-back-colour:         #000;
    --dark-panel-back-colour:        #222;

    --dark-button-highlight-colour:  #fff3;
    --dark-button-disabled-colour:   #fff2;
    --dark-text-disabled-colour:     #fff8;

    --dark-form-back-colour:         var(--dark-card-back-colour);
    --dark-input-back-colour:        var(--dark-accent-hint-colour);

    --dark-table-back-colour:        var(--dark-card-back-colour);
    --dark-table-alt-back-colour:    var(--dark-accent-hint-colour);

    --dark-success-colour:           #283;
    --dark-warning-colour:           #b62;
    --dark-error-colour:             #b31;

    --dark-border-colour:            #555;
    --dark-shadow-colour:            #0009;

    --dark-code-back-colour:         #000;
    --dark-code-text-colour:         #7ad;

    --dark-scrollbar-colour:         #666;
    --dark-scrollbar-back-colour:    #070707;

    /*** IMAGES **************************/

    --hero-image:                    url(hero.jpg);

    /*** SPACING **************************/

    --content-max-width:  60rem;
    --cols-in-max-width:  3;

    --gap:                2.0rem;
    --padding:            2.0rem;
    --padding-medium:     1.5rem;
    --padding-small:      1.0rem;
    --padding-text:       0.6em;
    --padding-text-small: 0.3em;

    --border-radius:      0.3em;
    --shadow-size:        0.5rem;
 }



:root {
    --text-colour:             var(--light-text-colour);
    --text-inv-colour:         var(--light-text-inv-colour);
    --accent-colour:           var(--light-accent-colour);
    --accent-hint-colour:      var(--light-accent-hint-colour);
    --link-colour:             var(--light-link-colour);
    --back-colour:             var(--light-back-colour);
    --back-alt-colour:         var(--light-back-alt-colour);
    --header-back-colour:      var(--light-header-back-colour);
    --footer-back-colour:      var(--light-footer-back-colour);
    --card-back-colour:        var(--light-card-back-colour);
    --panel-back-colour:       var(--light-panel-back-colour);
    --button-highlight-colour: var(--light-button-highlight-colour);
    --button-disabled-colour:  var(--light-button-disabled-colour);
    --text-disabled-colour:    var(--light-text-disabled-colour);
    --form-back-colour:        var(--light-form-back-colour);
    --input-back-colour:       var(--light-input-back-colour);
    --table-back-colour:       var(--light-table-back-colour);
    --table-alt-back-colour:   var(--light-table-alt-back-colour);
    --success-colour:          var(--light-success-colour);
    --warning-colour:          var(--light-warning-colour);
    --error-colour:            var(--light-error-colour);
    --border-colour:           var(--light-border-colour);
    --shadow-colour:           var(--light-shadow-colour);
    --code-back-colour:        var(--light-code-back-colour);
    --code-text-colour:        var(--light-code-text-colour);
    --scrollbar-colour:        var(--light-scrollbar-colour);
    --scrollbar-back-colour:   var(--light-scrollbar-back-colour);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --text-colour:             var(--dark-text-colour);
        --text-inv-colour:         var(--dark-text-inv-colour);
        --accent-colour:           var(--dark-accent-colour);
        --accent-hint-colour:      var(--dark-accent-hint-colour);
        --link-colour:             var(--dark-link-colour);
        --back-colour:             var(--dark-back-colour);
        --back-alt-colour:         var(--dark-back-alt-colour);
        --header-back-colour:      var(--dark-header-back-colour);
        --footer-back-colour:      var(--dark-footer-back-colour);
        --card-back-colour:        var(--dark-card-back-colour);
        --panel-back-colour:       var(--dark-panel-back-colour);
        --button-highlight-colour: var(--dark-button-highlight-colour);
        --button-disabled-colour:  var(--dark-button-disabled-colour);
        --text-disabled-colour:    var(--dark-text-disabled-colour);
        --form-back-colour:        var(--dark-form-back-colour);
        --input-back-colour:       var(--dark-input-back-colour);
        --table-back-colour:       var(--dark-table-back-colour);
        --table-alt-back-colour:   var(--dark-table-alt-back-colour);
        --success-colour:          var(--dark-success-colour);
        --warning-colour:          var(--dark-warning-colour);
        --error-colour:            var(--dark-error-colour);
        --border-colour:           var(--dark-border-colour);
        --shadow-colour:           var(--dark-shadow-colour);
        --code-back-colour:        var(--dark-code-back-colour);
        --code-text-colour:        var(--dark-code-text-colour);
        --scrollbar-colour:        var(--dark-scrollbar-colour);
        --scrollbar-back-colour:   var(--dark-scrollbar-back-colour);
    }
}

.light {
    --text-colour:             var(--light-text-colour);
    --text-inv-colour:         var(--light-text-inv-colour);
    --accent-colour:           var(--light-accent-colour);
    --accent-hint-colour:      var(--light-accent-hint-colour);
    --link-colour:             var(--light-link-colour);
    --back-colour:             var(--light-back-colour);
    --back-alt-colour:         var(--light-back-alt-colour);
    --header-back-colour:      var(--light-header-back-colour);
    --footer-back-colour:      var(--light-footer-back-colour);
    --card-back-colour:        var(--light-card-back-colour);
    --panel-back-colour:       var(--light-panel-back-colour);
    --button-highlight-colour: var(--light-button-highlight-colour);
    --button-disabled-colour:  var(--light-button-disabled-colour);
    --text-disabled-colour:    var(--light-text-disabled-colour);
    --form-back-colour:        var(--light-form-back-colour);
    --input-back-colour:       var(--light-input-back-colour);
    --table-back-colour:       var(--light-table-back-colour);
    --table-alt-back-colour:   var(--light-table-alt-back-colour);
    --success-colour:          var(--light-success-colour);
    --warning-colour:          var(--light-warning-colour);
    --error-colour:            var(--light-error-colour);
    --border-colour:           var(--light-border-colour);
    --shadow-colour:           var(--light-shadow-colour);
    --code-back-colour:        var(--light-code-back-colour);
    --code-text-colour:        var(--light-code-text-colour);
    --scrollbar-colour:        var(--light-scrollbar-colour);
    --scrollbar-back-colour:   var(--light-scrollbar-back-colour);
}

.dark {
    --text-colour:             var(--dark-text-colour);
    --text-inv-colour:         var(--dark-text-inv-colour);
    --accent-colour:           var(--dark-accent-colour);
    --accent-hint-colour:      var(--dark-accent-hint-colour);
    --link-colour:             var(--dark-link-colour);
    --back-colour:             var(--dark-back-colour);
    --back-alt-colour:         var(--dark-back-alt-colour);
    --header-back-colour:      var(--dark-header-back-colour);
    --footer-back-colour:      var(--dark-footer-back-colour);
    --card-back-colour:        var(--dark-card-back-colour);
    --panel-back-colour:       var(--dark-panel-back-colour);
    --button-highlight-colour: var(--dark-button-highlight-colour);
    --button-disabled-colour:  var(--dark-button-disabled-colour);
    --text-disabled-colour:    var(--dark-text-disabled-colour);
    --form-back-colour:        var(--dark-form-back-colour);
    --input-back-colour:       var(--dark-input-back-colour);
    --table-back-colour:       var(--dark-table-back-colour);
    --table-alt-back-colour:   var(--dark-table-alt-back-colour);
    --success-colour:          var(--dark-success-colour);
    --warning-colour:          var(--dark-warning-colour);
    --error-colour:            var(--dark-error-colour);
    --border-colour:           var(--dark-border-colour);
    --shadow-colour:           var(--dark-shadow-colour);
    --code-back-colour:        var(--dark-code-back-colour);
    --code-text-colour:        var(--dark-code-text-colour);
    --scrollbar-colour:        var(--dark-scrollbar-colour);
    --scrollbar-back-colour:   var(--dark-scrollbar-back-colour);
}


/* OVERALL LAYOUT
 *************************************************************/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin:  0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
    --side-padding: var(--padding-small);
    --num-cols: var(--cols-in-max-width);
    --num-gaps: calc(var(--cols-in-max-width) - 1);
}

@media screen and (min-width: 50rem) {
    body {
        --side-padding: var(--padding);
    }
}


main {
    flex: 1;
}


p:not(:first-child) {
    margin-top: var(--gap);
}

p:not(:last-child) {
    margin-bottom: var(--gap);
}


/* ALIGNMENT
 *************************************************************/

.middle {
    margin-left: auto;
    margin-right: auto;
}

.left {
    margin-left: 0;
    margin-right: auto;
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.full-width {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}


/* BASE COLOURS
 *************************************************************/

body {
    color: var(--text-colour);
    background-color: var(--back-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent-colour);
}


/* SCROLLBAR COLOURS
 *************************************************************/

body {
    scrollbar-color: var(--scrollbar-colour) var(--scrollbar-back-colour);
}

body::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar-colour);
    border: 2px solid var(--scrollbar-back-colour);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--accent-colour);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-back-colour);
    box-shadow: inset 0 0 3px var(--shadow-colour);
}


/* TEXT
 *************************************************************/

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size:   16px;
    line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1;
    padding: 0;
    margin: 1em 0 0.7em;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }
h6 { font-size: 1.2em; }

small {
    font-size: 0.8rem;
}

sub,
sup {
    font-size: 0.7rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    font-size: 1.2em;
    padding: var(--padding-text-small) var(--padding-text);
    margin: var(--gap) 0;
    box-shadow: inset var(--padding-text-small) 0 var(--accent-colour);
}


/* LINKS
 *************************************************************/

a {
    color: var(--link-colour);
    text-decoration: none;
    box-shadow: none;
    border-bottom: 1px solid transparent;
    transition: background-color    300ms,
                color               300ms,
                box-shadow          300ms,
                border-bottom-color 300ms;
}

a:active,
a:hover {
    outline: none;
    border-bottom-color: var(--link-colour);
}


/* MESSAGES
 *************************************************************/

.accent,
.accent > * {
    color: var(--accent-colour);
}

.success,
.success > * {
    color: var(--success-colour);
}

.warning,
.warning > * {
    color: var(--warning-colour);
}

.error,
.error > * {
    color: var(--error-colour);
}



/* MAIN HEADER
 *************************************************************/

body > header {
    padding: var(--padding-small) var(--side-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--header-back-colour);
    box-shadow: 0 calc(var(--shadow-size) / 2) var(--shadow-size) var(--shadow-colour);
}

body > header > :is(div, section, article, nav, aside) {
    padding: 0;
}


body > header h1 {
    color: var(--text-colour);
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 64em) {

    body > header h1 {
        text-align: left;
    }
}

/* MAIN FOOTER
 *************************************************************/

body > footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--footer-back-colour);
    color: var(--text-inv-colour);
}



/* MAIN NAV
 *************************************************************/
nav {
    position: relative;
}

nav ul {
    width: calc( 100vw - (2 * var(--side-padding)) );

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;

    font-size: 1.2rem;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0;
    text-align: center;
}

nav a {
    padding: var(--padding-text-small) var(--padding-text);
    border: none;
    color: var(--accent-colour);
    border-radius: var(--border-radius);
}

nav a:hover,
nav a:focus {
    background-color: var(--link-colour);
    box-shadow: inset 0 0 0 99em var(--button-highlight-colour);
    color: var(--text-inv-colour);
    border: none;
}

/* nav has a togle input feature */
nav [type=checkbox] {
    display: none;
    margin: 0;
}

nav [type=checkbox] ~ ul {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -20rem;
    width: 20rem;
    z-index: 999;
    overflow-x: hidden;

    flex-direction: column;
    justify-content: flex-start;
    gap: 0;

    padding: var(--side-padding);
    padding-top: calc( 1.5 * var(--padding) );
    overflow-y: auto;

    background-color: var(--panel-back-colour);
}

nav [type=checkbox]:checked ~ ul {
    right: 0;
}

nav [type=checkbox] ~ ul a {
    color: var(--accent-colour);
    display: block;
}

nav [type=checkbox] ~ ul a:hover,
nav [type=checkbox] ~ ul a:focus {
    color: var(--text-inv-colour);
    display: block;
}

nav label {
    visibility: hidden;
    display: block;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

nav label::before {
    visibility: visible;
}

nav > label {
    position: absolute;
    top: -12px;
    right: 0;
    fill: red;
}

nav ul > label {
    position: absolute;
    right: var(--side-padding);
    top: calc( 1.5 * var(--padding-small) );
}

nav > label::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z' fill='black'/%3E%3C/svg%3E");
}

body.dark nav > label::before {
    filter: invert(1);
}

@media screen and (prefers-color-scheme: dark) {
    nav > label::before {
        filter: invert(1);
    }
}

nav ul > label::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z' fill='white'/%3E%3C/svg%3E");
    fill: var(--text-inv-colour);
}


/* Nav is directly in body, not part of header */
body > nav ul {
    width: 100%;
    padding: var(--padding) var(--side-padding);
    gap: var(--padding-small);
}


@media screen and (min-width: 64em) {
    nav ul {
        width: auto;
    }

    nav [type=checkbox] ~ ul {
        position: static;
        width: auto;

        flex-direction: row;

        padding: 0;
        overflow-y: initial;

        font-size: inherit;
        background-color: transparent;

        transition: none;
    }

    nav a,
    nav [type=checkbox] ~ ul a {
        color: var(--accent-colour);
    }

    nav a:hover,
    nav [type=checkbox] ~ ul a:hover {
        color: var(--text-inv-colour);
    }

    nav label {
        display: none;
    }
}



/* PAGE SECTIONS
 *************************************************************/

section,
article,
aside,
div {
    padding: var(--padding) var(--side-padding);
    scroll-margin-top: var(--padding);
    color: var(--text-colour);
}

main > article:not(.hero):not(.full-width),
main > section:not(.hero):not(.full-width) {
    --side-padding-calc: max( var(--side-padding), calc( (100% - var(--content-max-width)) / 2 ) );
    padding-left: var(--side-padding-calc);
    padding-right: var(--side-padding-calc);
}

main > article:not(.hero):nth-child(odd),
main > section:not(.hero):nth-child(odd) {
    background-color: var(--back-colour);
}

main > article:not(.hero):nth-child(even),
main > section:not(.hero):nth-child(even) {
    background-color: var(--back-alt-colour);
}

:is(article, section, aside, div, .card) > :first-child,
:is(article, section, aside, div, .card) > :is(header, footer) > :first-child {
    margin-top: 0;
}

:is(article, section, aside, div, .card) > :last-child,
:is(article, section, aside, div, .card) > :is(header, footer) > :last-child {
    margin-bottom: 0;
}

:is(article, section, aside, div, .card) > header {
    margin-bottom: var(--gap);
}

:is(article, section, aside, div, .card) > footer {
    margin-top: var(--gap);
}

.columns {
    --column-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.columns > header,
.columns > footer {
    width: 100%;
}

.columns > :is(section, articel, aside, div) {
    padding: var(--padding-small) 0;
    width: var(--column-width);
}

@media screen and (min-width: 60rem) {
    .columns {
        --column-width: calc((100% - (calc(var(--num-gaps) + 0) * var(--gap))) / calc(var(--num-cols) + 0));
    }
}

@media screen and (min-width: 90rem) {
    .columns.full-width {
        --column-width: calc((100% - (calc(var(--num-gaps) + 1) * var(--gap))) / calc(var(--num-cols) + 1));
    }
}

@media screen and (min-width: 120rem) {
    .columns.full-width {
        --column-width: calc((100% - (calc(var(--num-gaps) + 2) * var(--gap))) / calc(var(--num-cols) + 2));
    }
}

@media screen and (min-width: 150rem) {
    .columns.full-width {
        --column-width: calc((100% - (calc(var(--num-gaps) + 3) * var(--gap))) / calc(var(--num-cols) + 3));
    }
}

.card,
.columns > .card {
    display: block;
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    background-color: var(--card-back-colour);
    padding: var(--padding-medium);
}

.columns > .card {
    width: var(--column-width);
}

.card.accent {
    border-color: var(--accent-colour);
}

.card.success {
    border-color: var(--success-colour);
}

.card.warning {
    border-color: var(--warning-colour);
}

.card.error {
    border-color: var(--error-colour);
}

a.card {
    color: var(--text-colour);
}

a.card:hover,
a.card:focus {
    border-color: var(--link-colour);
    box-shadow: 0 calc(var(--shadow-size) / 2) var(--shadow-size) var(--shadow-colour);
}

.hero {
    width: 100%;
    max-width: 100%;
}

.hero {
    min-height: 75vh;
    font-size: min(2rem, 7vw);

    display: grid;
    gap: var(--gap);
    place-content: center;
    align-items: center;

    background-color: var(--accent-colour);

    background-image: var(--hero-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero > * {
    color: var(--text-inv-colour);
    padding: 0;
    margin: 0;
    text-align: center;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
}



/* LISTS
 *************************************************************/

ol,
ul {
    padding-left: var(--padding-medium);
}

li {
    margin: var(--padding-text-small) 0;
}

li::marker {
    color: var(--accent-colour);
}


/* MEDIA
 *************************************************************/

img,
picture,
video,
audio,
canvas,
svg,
figure,
iframe {
    display: block;
    max-width: 100%;
    height: auto;
    margin: var(--gap) auto;
}

figure {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    align-items: center;
}

figure img,
figure picture,
figure svg {
    margin: 0;
}

figcaption {
    font-style: italic;
}

video,
iframe {
    aspect-ratio: 16 / 9;  /*should be ok for majority */
    height: auto;
}




/* TABLES
 *************************************************************/

table {
    border-collapse: collapse;
    border-spacing:  0;
    text-align: left;
    margin: var(--gap) auto;
    border: 1px solid var(--border-colour);
    background-color: var(--table-back-colour);
    display: block;
    overflow-x: auto;
    max-width: max-content;
    width: 100%;
}


td,
th {
    padding: var(--padding-text-small) var(--padding-text);
}

th {
    text-align: left;
    font-weight: bold;
    color: var(--text-inv-colour);
    background-color: var(--accent-colour);
}

tr:nth-child(even) {
    background: var(--table-alt-back-colour);
}



/* FORMS
 *************************************************************/

form {
    border: 1px solid var(--border-colour);
    border-radius: var(--border-radius);
    background-color: var(--form-back-colour);
    padding: var(--gap);
    margin: var(--gap) auto;
    width: 100%;
    max-width: 30rem;
}


form header {
    margin-bottom: var(--gap);
}

form footer {
    margin-top: var(--gap);
}

form :first-child {
    margin-top: 0;
}

form :last-child {
    margin-bottom: 0;
}


/* Labels and legends */

label {
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--padding-text);
    align-items: center;
    color: var(--accent-colour);
    margin: var(--padding-small) 0 0;
}

legend {
    border: 0;
    padding: 0;
    color: var(--accent-colour);
}


/* Fieldsets */

fieldset {
    border: 0;
    padding: 0;
    margin-top: var(--padding-small);
}

:not(:is([type=checkbox], [type=radio])) + label + fieldset {
    margin-top: 0;
}


/* Styling of controls */

input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    display: block;
    width: 100%;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

:is(input, textarea, select) {
    line-height: 1.5;
    height: 2.1em;
    padding: var(--padding-text-small) var(--padding-text);
    border: 1px solid var(--border-colour);
    background-color: var(--input-back-colour);
    border-radius: var(--border-radius);
    transition: all 300ms;
}

:is(input, textarea, select):focus {
    border: 1px solid var(--accent-colour);
    outline: 0;
}

[type=color] {
    width: 4em;
    padding: 0 var(--padding-text);
}

[type=number],
[type=date] {
    width: 10em;
}

select {
    width: max-content;
}

textarea {
    height: auto;
}

[type=checkbox],
[type=radio] {
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
}

[type=checkbox],
[type=radio],
[type=range] {
    accent-color: var(--accent-colour);
}

[type=file],
[type=color] {
    cursor: pointer;
}

[type=file] {
    height: auto;
}


/* Checkbox and radio button tweaks */

:is(input, textarea, select, fieldset) + :is([type=checkbox], [type=radio]) {
    margin-top: calc(1.5 * var(--padding-small));
}

[type=checkbox] + label,
[type=radio] + label {
    display: inline-block;
    margin-left: var(--padding-text-small);
    margin-right: var(--padding-small);
    margin-top: 0;
    vertical-align: text-bottom;
}

fieldset :is(label, [type=checkbox], [type=radio]) {
    margin-top: 0;
}


/* Submit button */

:is(input, textarea, select, label, fieldset) + [type=submit] {
    display: block;
    margin-top: var(--gap);
}


/* Required / invalid fields */

input[required]:invalid,
textarea[required]:invalid {
    padding-right: calc(2 * var(--padding-text));
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 6 6" xmlns="http://www.w3.org/2000/svg"><line id="line" y1="1.023" y2="5.002" style="stroke: rgb(218, 85, 85); stroke-linecap: round;" x1="3.02" x2="3.02" transform="matrix(0.5, 0.866025, -0.866025, 0.5, 4.118901, -1.109147)"/><line id="line" y1="1.023" y2="5.002" style="stroke: rgb(218, 85, 85); stroke-linecap: round;" x1="3.02" x2="3.02" transform="matrix(-0.5, 0.866025, -0.866025, -0.5, 7.138902, 1.903354)"/><line id="line" y1="1.023" y2="5.002" style="stroke: rgb(218, 85, 85); stroke-linecap: round;" x1="3.02" x2="3.02"/></svg>');
    background-size: 1em 1em;
    background-position: calc(100% - var(--padding-text-small)) center;
    background-repeat: no-repeat;
}

textarea[required]:invalid {
    background-position: calc(100% - var(--padding-text-small)) var(--padding-text-small);
}



/* BUTTONS
 *************************************************************/

:is(button, .button, [type=submit]) {
    color: inherit;
    font: inherit;
    margin: 0;
    display: inline-block;
    text-align: center;
    letter-spacing: inherit;
    margin: 0;
    padding: var(--padding-text-small) var(--padding-text);
    vertical-align: middle;
    background-color: var(--link-colour);
    color: var(--text-inv-colour);
    border: none;
    border-radius: var(--border-radius);
    width: auto;
    user-select: none;
}

:is(button, .button, [type=submit]).accent {
    background-color: var(--accent-colour);
}

:is(button, .button, [type=submit]).success {
    background-color: var(--success-colour);
}

:is(button, .button, [type=submit]).warning {
    background-color: var(--warning-colour);
}

:is(button, .button, [type=submit]).error {
    background-color: var(--error-colour);
}

:is(button, .button, [type=submit]) {
    margin: 0.3em 0;
    cursor: pointer;
    transition: all 300ms;
    border-radius: var(--border-radius);
    height: auto;
    vertical-align: baseline;
    box-shadow: inset 0 0 0 transparent;
}

:is(button, .button, [type=submit]):hover,
:is(button, .button, [type=submit]):focus {
    box-shadow: inset 0 0 0 99em var(--button-highlight-colour);
    border: none;
}

:is(button, .button, [type=submit]):active {
    box-shadow: inset 0 0 0 99em var(--shadow-colour);
    border: none;
}

button[disabled],
button.disabled,
.button.disabled,
input[disabled] {
    box-shadow: none;
    color: var(--text-disabled-colour);
    background-color: var(--button-disabled-colour);
    cursor: not-allowed;
}

button[disabled]:active,
button.disabled:active,
.button.disabled:active,
input[disabled]:active {
    pointer-events: none;
}


/* CODE
 *************************************************************/

code {
    padding: var(--padding-text-small) var(--padding-text);
    font-family: monospace;
    color: var(--code-text-colour);
    background: var(--code-back-colour);
    border-radius: var(--border-radius);
}

pre {
    font-family: monospace;
    font-size: 1em;
    text-align: left;
    overflow: auto;
    margin: var(--gap) 0;
}

pre code {
    padding: var(--padding-small);
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}


